extends ../partials/adminheader
block content
    .all-content-wrapper
        .dashboard-main-wrapper
            .dashboard-article-wrapper
                .article-input-wrapper
                    input.article-title-input(placeholder='Title')
                .article-input-wrapper#description-wrapper
                    textarea.article-description-input(placeholder='Description')
                .article-input-wrapper
                    input.article-author-input(placeholder='Author')
                .article-content-wrapper
                .article-content-add
                    .article-content-add-options
                        .each-article-content-type-selected#paragraph Paragraph
                        .each-article-content-type#header Header
                        .each-article-content-type#image Image
                        .each-article-content-type#video Video
                        .each-article-content-type#link Link
                    .article-content-add-button#add-button Add Content
                .article-content-submit
                    .article-content-submit-button#submit-button Submit
                .error-wrapper(style="display: none;")
