extends ../partials/adminheader
block content
    .all-content-wrapper
        .dashboard-main-wrapper
            .featured-control-panel
                select.featured-control-panel-input 
                    for article in articles.articles
                        option(value=article._id) #{article.name}
                button.set-featured-button Set Featured
            .article-list-wrapper
                for article in articles.articles
                    .each-admin-article-wrapper
                        a.each-admin-article-link(href='/article/' + article._id) #{article.name}
                        .each-admin-article-button-wrapper
                            a.each-admin-article-button(href='/admin/edit/' + article._id) Edit
                            .each-admin-article-button.delete(data-id = article._id) Delete
    .responsive-sidebar-wrapper#sidebar
        a.sidebar-title-text-wrapper(href='/')
            .title-text Title
        .sidebar
            a.each-sidebar-item(href='/page')= __('Page')
            a.translation-wrapper
                .translation-button#tr Tr 
                .translation-button#en En