extends ../partials/adminheader
block content
    .all-content-wrapper
        .dashboard-main-wrapper
            .article-list-wrapper
                for article in articles.articles
                    .each-admin-article-wrapper
                        a.each-admin-article-link(href='/article/' + article._id) #{article.name}
    .responsive-sidebar-wrapper#sidebar
        a.sidebar-title-text-wrapper(href='/')
            .title-text Title
        .sidebar
            a.each-sidebar-item(href='/page')= __('Page')
            a.translation-wrapper
                .translation-button#tr Tr 
                .translation-button#en En