extends ../partials/header
block content
    .all-content-wrapper
        .featured-wrapper
            .main-featured-image-wrapper
                img.main-featured-image(src='/res/img1.jpeg' width='100%' height='100%')
            .main-featured-text-wrapper
                .main-featured-title-wrapper
                    .main-featured-title-text Zenci poyraz
                .main-featured-description-wrapper
                    .main-featured-description-text "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut"
        .news-wrapper
            .each-article-wrapper 
                .each-article-image-wrapper 
                    img.each-article-image(src='/res/img1.jpeg' width='100%' height='100%')
                .each-article-text-wrapper 
                    .each-article-title-wrapper TİTEL
                    .each-article-description-wrapper Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .each-article-author-wrapper Author
            .each-article-wrapper 
                .each-article-image-wrapper 
                .each-article-text-wrapper 
                    .each-article-title-wrapper 
                    .each-article-description-wrapper
                    .each-article-author-wrapper
            .each-article-wrapper 
                .each-article-image-wrapper 
                .each-article-text-wrapper 
                    .each-article-title-wrapper 
                    .each-article-description-wrapper
                    .each-article-author-wrapper
            .each-article-wrapper 
                .each-article-image-wrapper 
                .each-article-text-wrapper 
                    .each-article-title-wrapper 
                    .each-article-description-wrapper
                    .each-article-author-wrapper
            .each-article-wrapper 
                .each-article-image-wrapper 
                .each-article-text-wrapper 
                    .each-article-title-wrapper 
                    .each-article-description-wrapper
                    .each-article-author-wrapper
            .each-article-wrapper 
                .each-article-image-wrapper 
                .each-article-text-wrapper 
                    .each-article-title-wrapper Title Nigga
                    .each-article-description-wrapper
                    .each-article-author-wrapper
        .footer-wrapper
            .footer-title-wrapper Runway Istanbul 
            .footer-text-wrapper
                .each-footer-wrapper= __('Privacy Policy')
                .each-footer-wrapper 2023
                .each-footer-wrapper instagram_logo
    .responsive-sidebar-wrapper#sidebar
        a.sidebar-title-text-wrapper(href='/')
            .title-text Title
        .sidebar
            a.each-sidebar-item(href='/page')= __('Page')
            a.translation-wrapper
                .translation-button#lang1 Lang1 
                .translation-button#lang2 Lang2             