body {
    margin: 0px;
    }
html {
    background-color: rgb(0, 0, 0);
}
.all-content-wrapper {
    box-sizing: border-box;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
    padding-top: 90px;
}