.header {
    display: flex;
    position: fixed;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: rgb(0, 0, 0);
    font-family: 'Russo One', sans-serif;
    z-index: 10;
    border-bottom: solid 1px rgba(184, 181, 181, 0.4);
}
.navbar-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    background-color:  rgb(0, 0, 0);
}
.navbar-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    font-size: 36px;
    text-decoration: none;
    margin-left: 20px;
}
.navbar-items-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color:  rgb(0, 0, 0);
    padding-right: 10px;
}
.each-navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14%;
    height: 100%;
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.each-navbar-item:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14%;
    height: 100%;
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(60, 59, 59);
}
.translation-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 9%;
    min-width: 100px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    font-size: 186x;
    color: rgb(255, 255, 255);
    border-left: solid 1px rgba(184, 181, 181, 0.4);
}
.button-selected {
    background-color: rgb(60, 59, 59);
}
.responsive-sidebar-icon {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
}
.responsive-sidebar-icon-bar {
    width: 35px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
}
.responsive-sidebar-wrapper {
    box-sizing: border-box;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 320px;
    height: 100%;
    right: 0px;
    top: 0px;
    background-color: rgb(52, 52, 52);
    z-index: 11;
    padding: 10px 10px;
    transform: translateX(100%);
}
.sidebar-open-animation {
    animation: sidebar-open 0.5s linear 1;
}
.sidebar-close-animation {
    animation: sidebar-close 0.5s linear 1;
}
@keyframes sidebar-open {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes sidebar-close {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}
.each-sidebar-item {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Russo One", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 500;
}
.sidebar-title-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    font-size: 36px;
    text-decoration: none;
    color: rgb(56, 218, 107);
    font-family: "Russo One", sans-serif;
}
@media (max-width: 1000px) {
    .responsive-sidebar-icon {
        display: flex;
        min-width: 50px;
    }
    .each-navbar-item {
        display: none;
    }
    .translation-wrapper {
        border-right: solid 1px rgba(184, 181, 181, 0.4);
    }
}
@media (max-width: 400px) {
    .each-program-wrapper {
        width: 90%;
    }
    a.title-text-wrapper {
        min-width: 220px;
        margin-left: 10px;
    }
    .title-text {
        font-size: 30px;
    }
}
